<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet"/>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            padding-left:10px;
            padding-right:10px;
            float: left;
            color: #f2f2f2;
            text-align: center;
            text-decoration: none;
            font-size: 17px;
        }

        a:hover {
            background-color: #ddd;
            color: black;
        }

        a.active {
            background-color: #4CAF50 !important;
            color: white;
        }
</style>
</head>
<body>
<header>
    <nav class="red lighten-1">
        <div class="nav-wrapper">
            <a href="#" id="title_a" class="brand-logo center">Home</a>
        </div>
    </nav>
</header>

<main style="min-height: calc(100vh - 110px); display: inline-block; width: 100%;">
    
    
        <div style="padding:10px;">
             <label for="target-language-picker" style="color:black;font-size:14px;">Select your language</label>
             <select name="language-picker-select" id="target-language-picker" style="width:100px;">
                 <option lang="de" value="ro" selected>Romanian</option>
                 <option lang="en" value="english">English</option>
                 <option lang="fr" value="fr">French</option>
                 <option lang="it" value="it">Italian</option>
             </select>
        </div>
        <div style="width:900px;padding:10px;">
            <p>Enter an Image URL (it should contains people)</p>
            <p>Ex: https://www.biography.com/.image/t_share/MTQ1MzAyNzYzOTgxNTE0NTEz/john-f-kennedy---mini-biography.jpg</p>
            <input type="text" name="FaceDetection.Image.Url" placeholder="Image URL" id="inputImgUrl">
        </div>
        <div style="padding:10px;">
            <button id="clicked" class="btn green" style="width:150px;" onclick="myFunction()">Submit</button>
        </div>
    
    
    <div class="show-data" style="padding:10px;">
        <pre id="jsonResultInfoFaceImg"></pre>
    </div>
    
</main>

<footer class="page-footer font-small green pt-4" style="height:110px;">
    <img src="../static/drctch.png" alt="-?-" style="float:right;margin-right:60px;">
</footer>
    
<script>
    $('select').select2({ width: '170px', placeholder: "Select an Option", allowClear: true });
    
    function myFunction() {
        var urlstr = document.getElementById("inputImgUrl").value; // $("input[name=FaceDetection.Image.Url]").val();
        var target_language = document.getElementById('target-language-picker').value;
        $.ajax({
            url: "/getImageInfoFromURL",
            data:{imgUrl:urlstr, targetLanguage:target_language},
            type: "POST"
        }).done(function(response) {
            var responseJson = JSON.parse(response);
            document.getElementById("jsonResultInfoFaceImg").textContent = JSON.stringify(responseJson, undefined, 2);
        });
    }
    
</script>

</body>
</html>
